# Ignore data directory
1_data

# Ignore results directory
4_results

# Ignore environments directory
5_environnements

# Ignore containers directory
6_Containers

# Ignore miscellaneous test files
test_divers

# Ignore 7_Article except the script directory inside
7_Article/*
!7_Article/script/

*.err
*.log
*.out

7_Article/script/script_Val/archive